
## <summary>policy for coinium</summary>


########################################
## <summary>
##	Transition to coinium.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`coinium_domtrans',`
	gen_require(`
		type coinium_t, coinium_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, coinium_exec_t, coinium_t)
')


########################################
## <summary>
##	Execute coinium server in the coinium domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`coinium_initrc_domtrans',`
	gen_require(`
		type coinium_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, coinium_initrc_exec_t)
')


########################################
## <summary>
##	Search coinium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`coinium_search_lib',`
	gen_require(`
		type coinium_var_lib_t;
	')

	allow $1 coinium_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read coinium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`coinium_read_lib_files',`
	gen_require(`
		type coinium_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, coinium_var_lib_t, coinium_var_lib_t)
')

########################################
## <summary>
##	Manage coinium lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`coinium_manage_lib_files',`
	gen_require(`
		type coinium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, coinium_var_lib_t, coinium_var_lib_t)
')

########################################
## <summary>
##	Manage coinium lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`coinium_manage_lib_dirs',`
	gen_require(`
		type coinium_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, coinium_var_lib_t, coinium_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an coinium environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`coinium_admin',`
	gen_require(`
		type coinium_t;
		type coinium_initrc_exec_t;
		type coinium_var_lib_t;
	')

	allow $1 coinium_t:process { ptrace signal_perms };
	ps_process_pattern($1, coinium_t)

	coinium_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 coinium_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, coinium_var_lib_t)

')

